@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexStartCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexBetweenStart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.menu-link {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e1c301;
  transition: width 0.3s ease;
}

.menu-link:hover {
  color: #e1c301;
}

.menu-link:hover::after {
  width: 100%;
}

.dropdownmenu {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 120px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid gray;
}

.dropdownmenu:hover::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray !important;
  border-top: 1px solid gray !important;
}

/* Autoscrollbar */
.Companies {
  font-family: sans-serif;
  text-align: center;
}

.CompaniesImageBox {
  height: 300px;
  min-width: 200px;
  margin-left: 10px;
}

.CompaniesImage {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.CompaniesImage:last-child {
  padding-left: 0;
}

.CompaniesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  height: 300px;
  box-sizing: border-box;
}

.CompaniesInner {
  position: absolute;
  width: 100%;
  height: 3rem;
  display: flex;
  animation: slide var(--speed) linear infinite;
  animation-play-state: running;
}

.CompaniesContainer:hover .CompaniesInner {
  animation-play-state: none;
}

.CompaniesSection {
  display: flex;
  animation: slide var(--speed) linear infinite backwards;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .CompaniesContainer {
    width: 600px !important;
    height: 150px;
    margin-right: 0;
  }

  .CompaniesInner {
    height: 4rem;
  }

  .CompaniesImageBox {
    min-width: 150px;
    margin-left: -50px;
  }

  .CompaniesImage {
    width: 70%;
  }

  .CompaniesTexts {
    height: 5px;
    padding-bottom: 0 30px;
    font-size: xx-large !important;
  }
}

/* Text Overlay on Image */
.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Text color */
}

.overlay a {
  text-decoration: none;
}

.overlay h2 {
  margin: 0;
}

.font-lexend {
  font-family: "lexend", sans-serif;
}